.trabalhar-app{
     display: none;
     position: absolute;
     height: 100%;
     width: 100%;
     border: 1px solid black;
     background-color: #5a5474;
}

.trabalhar-container{
     position: relative;
     display: grid;
     justify-content: center;
     top: 4vh;
     left: 0vh;
     width: 28vh;
     color: white;
     margin-top: 1vh;
}

.trabalhar-loading{
     display: none;
}

.trabalhar-button{
     position: relative;
     background-color: black;
     height: 4vh;
     line-height: 4vh;
     text-align: center;
     border-radius: 0.5vh;
     cursor: pointer;
     width: 19vh;
     margin-top: 0.5vh;
     transition: all 0.2s;
     left: 1vh;
}
.trabalhar-button:hover {
     background-color: rgb(36, 36, 36);
     transition: all 0.2s;
}

.trabalhar-leader-info{
     display: none;
     background-color: #425db8;
     border-radius: 0.5vh;
     text-align: center;
     width: 23vh;
     height: 4vh;
     line-height: 4vh;
     transition: all 0.3s;
     margin-bottom: 1vh;
}


.leader-nome{
     font-size: 1.7vh;
     color: yellow;
}

.job-cargo{
     color: #bdbdc0;
     font-size: 1.3vh;
}

.membro-grupo{
     display: none;
     background-color: #2e284a;
     border-radius: 0.5vh;
     text-align: center;
     width: 23vh;
     transition: all 0.3s;
     margin-bottom: 1vh;
}

.membro-nome{
     font-size: 1.7vh;
     color: rgb(0, 119, 255);
}

.membro-cargo{
     color: #8b82b2;
     font-size: 1.3vh;
}







@keyframes ldio-0paeaa8xv3n {
     0% { transform: translate(21.009999999999998px,85.95px) scale(0); }
    25% { transform: translate(21.009999999999998px,85.95px) scale(0); }
    50% { transform: translate(21.009999999999998px,85.95px) scale(1); }
    75% { transform: translate(85.95px,85.95px) scale(1); }
   100% { transform: translate(150.89px,85.95px) scale(1); }
  }
  @keyframes ldio-0paeaa8xv3n-r {
     0% { transform: translate(150.89px,85.95px) scale(1): }
   100% { transform: translate(150.89px,85.95px) scale(0); }
  }
  @keyframes ldio-0paeaa8xv3n-c {
     0% { background: #1d3f72 }
    25% { background: #71c2cc }
    50% { background: #d8ebf9 }
    75% { background: #5699d2 }
   100% { background: #1d3f72 }
  }
  .ldio-0paeaa8xv3n div {
    position: absolute;
    width: 19.099999999999998px;
    height: 19.099999999999998px;
    border-radius: 50%;
    transform: translate(85.95px,85.95px) scale(1);
    background: #1d3f72;
    animation: ldio-0paeaa8xv3n 2.6315789473684212s infinite cubic-bezier(0,0.5,0.5,1);
  }
  .ldio-0paeaa8xv3n div:nth-child(1) {
    background: #5699d2;
    transform: translate(150.89px,85.95px) scale(1);
    animation: ldio-0paeaa8xv3n-r 0.6578947368421053s infinite cubic-bezier(0,0.5,0.5,1), ldio-0paeaa8xv3n-c 2.6315789473684212s infinite step-start;
  }.ldio-0paeaa8xv3n div:nth-child(2) {
    animation-delay: -0.6578947368421053s;
    background: #1d3f72;
  }.ldio-0paeaa8xv3n div:nth-child(3) {
    animation-delay: -1.3157894736842106s;
    background: #5699d2;
  }.ldio-0paeaa8xv3n div:nth-child(4) {
    animation-delay: -1.9736842105263157s;
    background: #d8ebf9;
  }.ldio-0paeaa8xv3n div:nth-child(5) {
    animation-delay: -2.6315789473684212s;
    background: #71c2cc;
  }
  .loadingio-spinner-ellipsis-t992hbzj7zr {
    width: 191px;
    height: 191px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-0paeaa8xv3n {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-0paeaa8xv3n div { box-sizing: content-box; }
  /* generated by https://loading.io/ */